// Bootstrap brand color customization
$brand-primary: $cyan !default;
$brand-success: $green !default;
$brand-danger: $red !default;
$brand-warning: $orange !default;
$brand-info: $blue-900 !default;
$brand-rose: $pink !default;
